{% extends "MedCeliaBundle:Main:template.html.twig" %}
{% block estacceuil %} active {% endblock %}
{% block titre %} Acceuil {% endblock %}
{% block contenue %}
    <div class="row">
        <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="text-muted bootstrap-admin-box-title">Ajouter une Categorie</div>
                                    </div>
                                    <div class="bootstrap-admin-panel-content">

                                        {{ form_start(formCategorie, {'attr': {'class': 'form-horizontal'}}) }}

                                          {{ form_errors(formCategorie) }}
                                          <div class="form-group">
                                            {{ form_label(formCategorie.nom, "Nom", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                                            {{ form_errors(formCategorie.nom) }}
                                            <div class="col-md-6">
                                              {{ form_widget(formCategorie.nom, {'attr': {'class': 'col-md-6 form-control'}}) }}
                                            </div>
                                            {{ form_widget(formCategorie.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                          </div>

                                            

                                            {{ form_rest(formCategorie) }}
                                        {{ form_end(formCategorie) }}
                                      
                                    </div>
                                </div>
        </div>
        <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="text-muted bootstrap-admin-box-title">Ajouter une Marque</div>
                                    </div>
                                    <div class="bootstrap-admin-panel-content">
                                        {{ form_start(formMarque, {'attr': {'class': 'form-horizontal'}}) }}

                                          {{ form_errors(formMarque) }}
                                          <div class="form-group">
                                            {{ form_label(formMarque.nomMarque, "Nom", {'label_attr': {'class': 'col-md-2 control-label'}}) }}
                                            {{ form_errors(formMarque.nomMarque) }}
                                            <div class="col-md-6">
                                              {{ form_widget(formMarque.nomMarque, {'attr': {'class': 'col-md-6 form-control'}}) }}
                                            </div>
                                            {{ form_widget(formMarque.save, {'attr': {'class': 'btn btn-primary'}}) }}
                                          </div>

                                            

                                            {{ form_rest(formMarque) }}
                                        {{ form_end(formMarque) }}
                                    </div>
                                </div>
        </div>
    </div>
    
    <div class="row"    >
        <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="text-muted bootstrap-admin-box-title">Les Catégories</div>
                                        <div class="pull-right"><span class="badge">{{ categories | length}}</span></div>
                                    </div>
                                    <div class="bootstrap-admin-panel-content">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Recettes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for categorie in categories %}
                                                <tr>
                                                    <td>{{ categorie.id }}</td>
                                                    <td>{{ categorie.nom }}</td>
                                                    <td>{{ categorie.nbRecette }}</td>
                                                    <td>
                                                        <a href="{{ path('med_celia_delete_cat', {id:categorie.id}) }}">
                                                        <button class="btn btn-sm btn-danger">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            Supprimer
                                                        </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
        </div>
        <div class="col-md-6">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="text-muted bootstrap-admin-box-title">Les Marques</div>
                                        <div class="pull-right"><span class="badge">{{marques|length}}</span></div>
                                    </div>
                                    <div class="bootstrap-admin-panel-content">
                                        <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nom</th>
                                                <th>Produits</th>
                                                <th>Prod Autorisés</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for marque in marques %}
                                                <tr>
                                                    <td>{{ marque.id }}</td>
                                                    <td>{{ marque.nomMarque }}</td>
                                                    <td>{{ marque.nbProd }}</td>
                                                    <td>{{ marque.nbProdAutorise }}</td>
                                                    <td>
                                                        <a href="{{ path('med_celia_delete_marque', {id:marque.id}) }}">
                                                        <button class="btn btn-sm btn-danger">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            Supprimer
                                                        </button>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
        </div>
    </div>
    
    
{% endblock %}