{% extends "MedCeliaBundle:Main:template.html.twig" %}
{% block estproduit %} active {% endblock %}
{% block titre %} Produits {% endblock %}
{% block contenue %}
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="text-muted bootstrap-admin-box-title">Table De Produits</div>
            </div>
            <div class="bootstrap-admin-panel-content">
                <table class="table bootstrap-admin-table-with-actions">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Marque</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for produit in produits %}
                            <tr>
                                <td>{{produit.id}}</td>
                                <td>{{produit.nom}}</td>
                                <td>{{produit.marque.nomMarque}}</td>
                                <td> 
                                    <a href="{{ path('med_celia_view_produit', {id:produit.id}) }}">
                                        <button class="btn btn-sm btn-primary">
                                             <i class="glyphicon glyphicon-pencil"></i>
                                             Modifier
                                        </button>
                                    </a>
                                </td>
                                <td> 
                                    <a href="{{ path('med_celia_delete_produit', {id:produit.id}) }}">
                                        <button class="btn btn-sm btn-danger">
                                             <i class="glyphicon glyphicon-trash"></i>
                                             Supprimer
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}